# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# C extensions
*.so

# JupyterLab
.ipynb_checkpoints/
*.ipynb

# Pytest report files
report.html

# Pytest report files
junit*

# testrail files
testrail.cfg

.env
.coverage
htmlcov