<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORGI Hotdog</title>
</head>
<body>
    <h1>CORGI Hotdog</h1>
    <form id="ref-form">
        <label for="corgi_ref">CORGI Ref:</label>
        <input type="text" id="corgi_ref" name="corgi_ref" placeholder="{{corgi_ref}}">
        <br>
        <label for="enki_ref">Enki Ref:</label>
        <input type="text" id="enki_ref" name="enki_ref" placeholder="{{enki_ref}}">
        <br>
        <button id="submit-btn" type="submit">Submit</button>
    </form>
    <div>
        CORGI last modified: {{corgi_modified}}
    </div>
    <div>
        Enki last modified: {{enki_modified}}
    </div>
    <script>
        document.getElementById("ref-form").addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = {};
            const submitBtn = document.getElementById("submit-btn");

            formData.forEach((value, key) => {
                data[key] = value;
            });

            submitBtn.disabled = true;
            const response = await fetch("/hotdog/checkout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });
            submitBtn.disabled = false;

            if (response.ok) {
                alert("Checkout successful!");
            } else {
                alert("Something bad happened; maybe check the logs");
            }
        });

    </script>
</body>
</html>